body{
  box-sizing: border-box;
}

.game-card-wrapper,.about-card-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.titles{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-title{
  padding: 20px;
  margin: 0;
  width: auto;
  color: aliceblue;
}

.cards{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

app-card{
  display: inline-block;
}

#form-section{
  width: 100vw;
  height: 50vh;
  background-color: #212121;
}
