<app-toolbar></app-toolbar>
<app-main></app-main>
<div class="game-card-wrapper">
  <h1 class="section-title">Deep Dive</h1>
  <div class="cards">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
</div>
<app-trailer></app-trailer>
<div class="about-card-wrapper">
  <h1 class="section-title">Team</h1>
  <div class="cards">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
  <div class="cards">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
</div>

