body{
box-sizing: border-box;
}

.game-card-wrapper,.about-card-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.section-title{
  color: aliceblue;
}

.cards{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;


}
