.card {
  width: 300px;
  height: auto;
  margin: 10px;
}

.person{
  min-height: 600px;
}

.title{
  color: rgb(234,10,140);
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

img{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

img:hover{
  filter: none;
}
