<mat-toolbar class="footer">
  <span>Jellyfish</span>
  <div class="name-wrapper">
    <span>Noelia Chicharro | </span>
    <span>Carmen Fenk | </span>
    <span>Sarah Rama Zuber | </span>
    <span>Sascha Müller | </span>
    <span>Marco Fleischmann | </span>
    <span>Erika Cranor </span>
  </div>

  <span>Copyright © 2021 Jellyfish. All Rights Reserved</span>
  <span><a routerLink="/imprint-component" routerLinkActive="active">Impressum</a></span>
  <router-outlet></router-outlet>
</mat-toolbar>

