.main-container{
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  background-color: #212121;

  color: aliceblue;
}

button{
  background-color: rgb(234,10,140);
}

.text-wrapper{
  width: 60%;
  height: 100%;
  padding: 0 0 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}
.logo-wrapper{
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.logo{
  width: 70%;
  height: 50%;
}

@media screen and (max-width: 690px){
  .main-container{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-wrapper{
    margin: auto;
  }

  .logo-wrapper{
    margin: auto;
  }

  .logo{
    margin: auto;
    width: 200px;
    height: 180px;
  }

  button{
    display: none;
  }
}
